.env*
deployment-config.json
*.d.ts
*.js
!jest.config.js
!eslint.config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.aider*
/coverage
/test-results

# Release and build artifacts
/dist
