# Titanic Stack Configuration
# Two required args, one recommended. Copy to `.env` and edit.
# (or use as CLI arguments to `deploy.sh`)

# Required
##  --athena-database-name
ATHENA_DATABASE_NAME=userathenadatabase-XXXXXXXX 
## --quilt-read-policy-arn
QUILT_READ_POLICY_ARN=arn:aws:iam::123456789012:policy/YourQuiltReadPolicy

# Recommended
## --region
AWS_DEFAULT_REGION=us-east-1

# If not using default credentials for this user account
AWS_ACCESS_KEY_ID=XXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxx
